/* Custom CSS to override default styling of AsyncPaginate */
.custom-input {
  /* Apply the same styles as before */
  font-size: 1.25rem; /* equivalent to text-xl */
  font-weight: 300; /* equivalent to font-light */
  padding: 0.5rem 1rem; /* equivalent to p-2 */
  width: 100%; /* equivalent to w-full */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); /* equivalent to shadow-xl */
  border: 0; /* Remove default border */
  border-radius: 2rem; /* equivalent to rounded-xl */

  /* Remove padding */
  padding: 0;

  /* Remove dropdown arrow */
  background-image: none;
}
.toggle-button-cover {
  display: inline-block; /* Changed from table-cell to inline-block for better compatibility */
  position: relative;
  width: 150px;
  height: 70px; /* Adjusted height to better fit the toggle size */
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -18px auto 0 auto; /* Adjusted margin for better centering */
  overflow: hidden;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

#button-3 .knobs:before {
  content: "°C";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px; /* Adjusted width for better fitting */
  height: 28px; /* Adjusted height for better fitting */
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6; /* Adjusted line-height for better centering */
  padding: 9px 4px;
  background-color: #1c739b;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: "°F";
  left: 42px;
  background-color: #b6413b;
}

#button-3 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}
