@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto Slab", sans-serif;
  }
  body {
    background-image: url('./assets/starrysky.jpg');;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
